.btnStyle {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #f4d10b;
    border: none;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
    font-weight: 800;
  }
  
  .btnStyle:hover {
    background-color: #d0e4ff;
  }
  .btnLike{
    color: rgb(3, 229, 250);
    font-size: 30px;
    background: none;
    border: none; 
    cursor: pointer;
    font-weight: bold;
  }
  